<div class="container">
  <mat-grid-list cols="4" rowHeight="3:4">
    <mat-grid-tile [colspan]="1" *ngFor="let game of games">
      <game-card [game]="game" class="game-card"></game-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
