<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate
        >APP_NAME
        <mat-icon>code</mat-icon>
      </mat-card-title>
    </h1>
    <mat-card-content>
      A simple game catalog management system system
    </mat-card-content>
  </mat-card>
</div>
