<div class="container">
  <h1 mat-dialog-title>Confirm Selection</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to delete "{{ this.data.title }}"?</p>
    <mat-dialog-actions align="end">
      <button mat-button name="yes" (click)="yes()">YES</button>
      <button mat-button name="no" (click)="no()">NO</button>
    </mat-dialog-actions>
  </div>
</div>
