<mat-card class="card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="game-title" align="left">{{ game.title }}</mat-card-title>
      <mat-card-subtitle class="game-release-date">Released: {{ game.release_date }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <img class="game-image" src="assets/placeholder.png" />
  <mat-card-content>
    <p class="game-description" align="left">{{ game.description }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button name="edit" (click)="edit()">EDIT</button>
    <button mat-button name="delete" (click)="delete()">DELETE</button>
  </mat-card-actions>
</mat-card>
