<div class="container add-game-form">
  <mat-form-field>
    <input matInput placeholder="Title" id="title" name="title" [(ngModel)]="game.title" />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Description"
      id="description"
      name="description"
      [(ngModel)]="game.description"
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Specify a release date"
      id="release_date"
      name="release_date"
      [(ngModel)]="releaseDate"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>System</mat-label>
    <mat-select [(ngModel)]="game.system" name="system">
      <mat-option *ngFor="let system of systems" [value]="system.name">
        {{ system.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Genre</mat-label>
    <mat-select [(ngModel)]="game.genre" name="genre">
      <mat-option *ngFor="let genre of genres" [value]="genre.name">
        {{ genre.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">
    <div *ngIf="this.game.id < 0; else elseBlock">
      Create
    </div>
    <ng-template #elseBlock>Save</ng-template>
  </button>
</div>
