/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~material-design-icons-iconfont/src/material-design-icons";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Theme customization
@import "theme/theme";

.mat-grid-tile {
  margin: 1px;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  margin: 5px !important;
}

.mat-card-title {
  font-size: 16px;
  margin-top: 0.2em !important;
}

.mat-card-content {
  font-size: 12.5px;
}

.mat-card-content .mat-card-content {
  margin-top: 30px;
}

.mat-card {
  padding: 3px !important;
}

.mat-chip-list-wrapper {
  margin: 0px !important;
  display: initial !important;
}

.mat-chip {
  font-size: 12px;
  margin: 1px !important;
}

.mat-standard-chip {
  padding: 4px 8px !important;

  .mat-icon {
    font-size: 12px;
    position: relative;
    top: calc(50% - px); /* 50% - 3/4 of icon height */
  }
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle {
  margin-bottom: 4px !important;
}
