<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [disableClose]="!isMobile"
      ngClass.gt-sm="has-border"
    >
      <mat-toolbar color="primary">
        <span translate>APP_NAME</span>
        <div fxFlex></div>
        <div></div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="languageMenu">
            <mat-icon>language</mat-icon>
          </button>
          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
              {{ language }}
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a
            mat-list-item
            id="nav-view-all"
            routerLink="/games"
            routerLinkActive="active"
            (click)="isMobile && sidenav.close()"
          >
            <span translate>View All</span>
          </a>
          <a
            mat-list-item
            id="nav-add-game"
            routerLink="/add-game"
            routerLinkActive="active"
            (click)="isMobile && sidenav.close()"
          >
            <span translate>Add Game</span>
          </a>
          <mat-divider></mat-divider>
          <a
            mat-list-item
            id="nav-about"
            routerLink="/about"
            routerLinkActive="active"
            (click)="isMobile && sidenav.close()"
          >
            <span translate>About</span>
          </a>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
